.project-tag
  background-color #84776C
  cursor pointer
  &:hover
    text-decoration none
    background-color #3D1C00

.project-tag-compact
  color #aaa
  margin-right: 5px
  &:hover
    text-decoration underline
