@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --muted: 240 20% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    /* --primary: 222.2 47.4% 11.2%; */
    /* `orange10` from Radix (dark orange) instead of default "Oxford blue" */
    --primary: 24 100% 46.5%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --graphBackgroundColor1: #fbd38d;
    --graphBackgroundColor2: #feebc8;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    /* Less dark cards to make them stand up from the black bg (original: 240 10% 3.9%) */
    --card: 240 10% 15%;
    --card-foreground: 0 0% 98%;

    /* Add a lighter background for elements displayed inside a card (E.g. code block inside README) */
    --card-element: 240 10% 25%;

    /* Make popover less dark to match the card bg (original L=3.9%;) */
    --popover: 240 10% 15%;
    --popover-foreground: 0 0% 98%;

    /* Setup orange as the primary color instead of 0 0% 98% */
    --primary: 25 100% 70%;
    --primary-foreground: 240 5.9% 10%;

    /* Make secondary badges more visible when used in cards (default L=15.9%) */
    --secondary: 240 3.7% 25%;
    --secondary-foreground: 0 0% 98%;

    /* Make skeleton more visible (default L=15.9%) */
    --muted: 240 3.7% 25%;
    --muted-foreground: 240 5% 64.9%;

    /* Increase contrast when tags are hovered (original L=15.9%) */
    --accent: 240 3.7% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    /* Increase the contrast of border as we use a less dark bg for cards (original L=15.9%) */
    --border: 240 3.7% 25%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --graphBackgroundColor1: #9c4221;
    --graphBackgroundColor2: #7b341e;

    --link-foreground: 24 100% 75.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@media (max-width: 640px) {
  .container {
    /* decrease the spacing on mobiles */
    @apply px-4;
  }
}

/* Override the behavior provided by reset CSS to display correctly badges in projects README */
.markdown-body img,
.markdown-body svg {
  display: inherit;
}

footer::after {
  content: "";
  display: block;
  height: 6px;
  width: 100%;
  background-image: linear-gradient(
    135deg,
    #ffe38c 20%,
    #ffae63 20% 40%,
    #f76d42 40% 60%,
    #d63c4a 60% 80%,
    #9c0042 80%
  );
}
