@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light values come from the "stone" theme, except for the primary colors */
  /* https://ui.shadcn.com/themes */
  :root {
    /* `orange` scale from Radix colors */
    --orange-1: #fefcfb;
    --orange-2: #fff7ed;
    --orange-3: #ffefd6;
    --orange-4: #ffdfb5;
    --orange-5: #ffd19a;
    --orange-6: #ffc182;
    --orange-7: #f5ae73;
    --orange-8: #ec9455;
    --orange-9: #f76b15;
    --orange-10: #ef5f00;
    --orange-11: #cc4e00;
    --orange-12: #582d1d;

    /* `crimson` scale */
    --crimson-1: #fffcfd;
    --crimson-2: #fef7f9;
    --crimson-3: #ffe9f0;
    --crimson-4: #fedce7;
    --crimson-5: #facedd;
    --crimson-6: #f3bed1;
    --crimson-7: #eaacc3;
    --crimson-8: #e093b2;
    --crimson-9: #e93d82;
    --crimson-10: #df3478;
    --crimson-11: #cb1d63;
    --crimson-12: #621639;

    --sand-1: #fdfdfc;
    --sand-2: #f9f9f8;
    --sand-3: #f1f0ef;
    --sand-4: #e9e8e6;
    --sand-5: #e2e1de;
    --sand-6: #dad9d6;
    --sand-7: #cfceca;
    --sand-8: #bcbbb5;
    --sand-9: #8d8d86;
    --sand-10: #82827c;
    --sand-11: #63635e;
    --sand-12: #21201c;

    --background: white;
    --foreground: var(--sand-12);
    --card: white;
    --card-foreground: var(--foreground);
    --popover: white;
    --popover-foreground: var(--foreground);
    --primary: var(--orange-10);
    --primary-foreground: var(--orange-11);
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: var(--sand-3);
    --muted-foreground: 20 14.3% 4.1% / 0.7;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;

    --graphBackgroundColor1: #fbd38d;
    --graphBackgroundColor2: #feebc8;

    --logo-color: var(--primary);

    /* Colors used to differentiate results in search palette */
    --search-result-bg: var(--sand-2);
    --highlighted-project-bg: #f76b15;
    --highlighted-project-bg: var(--orange-2);
    --highlighted-project-text: white;
    --highlighted-project-text: var(--orange-11);

    --highlighted-tag-bg: #e93d82;
    --highlighted-tag-bg: var(--crimson-2);
    --highlighted-tag-text: white;
    --highlighted-tag-text: var(--crimson-11);

    --icon-color: var(--orange-8);
  }

  .dark {
    /* orangeDark scale */
    --orange-1: #17120e;
    --orange-2: #1e160f;
    --orange-3: #331e0b;
    --orange-4: #462100;
    --orange-5: #562800;
    --orange-6: #66350c;
    --orange-7: #7e451d;
    --orange-8: #a35829;
    --orange-9: #f76b15;
    --orange-10: #ff801f;
    --orange-11: #ffa057;
    --orange-12: #ffe0c2;

    /* crimsonDark scale */
    --crimson-1: #191114;
    --crimson-2: #201318;
    --crimson-3: #381525;
    --crimson-4: #4d122f;
    --crimson-5: #5c1839;
    --crimson-6: #6d2545;
    --crimson-7: #873356;
    --crimson-8: #b0436e;
    --crimson-9: #e93d82;
    --crimson-10: #ee518a;
    --crimson-11: #ff92ad;
    --crimson-12: #fdd3e8;

    --sand-1: #111110;
    --sand-2: #191918;
    --sand-3: #222221;
    --sand-4: #2a2a28;
    --sand-5: #31312e;
    --sand-6: #3b3a37;
    --sand-7: #494844;
    --sand-8: #62605b;
    --sand-9: #6f6d66;
    --sand-10: #7c7b74;
    --sand-11: #b5b3ad;
    --sand-12: #eeeeec;

    --background: var(--sand-1);

    /* Less dark cards to make them stand up from the black bg (original: 240 10% 3.9%) */
    --card: var(--sand-2);
    --card-foreground: 0 0% 98%;

    /* Add a lighter background for elements displayed inside a card (E.g. code block inside README) */
    /* --card-element: 240 10% 25%; */
    --card-element: var(--sand-3);

    /* Make popover less dark to match the card bg (original L=3.9%;) */
    --popover: var(--sand-2);
    --popover-foreground: 0 0% 98%;

    /* Make secondary badges more visible when used in cards (default L=15.9%) */
    --secondary: 240 3.7% 25%;
    --secondary-foreground: 0 0% 98%;

    /* Make skeleton more visible (default L=15.9%) */
    /* --muted: 240 3.7% 25%; */
    /* --muted-foreground: 240 5% 64.9%; */
    --muted-foreground: 255 100% 100% / 0.7;

    /* Increase contrast when tags are hovered (original L=15.9%) */
    --accent: 240 3.7% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    /* Increase the contrast of border as we use a less dark bg for cards (original L=15.9%) */
    --border: 240 3.7% 25%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --graphBackgroundColor1: #9c4221;
    --graphBackgroundColor2: #7b341e;

    --link-foreground: 24 100% 75.3%;

    /* Make the logo lighter by using the primary text color instead of the bg color */
    --logo-color: var(--primary-foreground);
    --icon-color: var(--orange-8);

    --search-result-bg: var(--sand-3);
    --highlighted-tag-bg: var(--crimson-3);
    --highlighted-project-bg: var(--orange-3);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@media (max-width: 640px) {
  .container {
    /* decrease the spacing on mobiles */
    @apply px-4;
  }
}

/* Override the behavior provided by reset CSS to display correctly badges in projects README */
.markdown-body img,
.markdown-body svg {
  display: inherit;
}

footer::after {
  content: "";
  display: block;
  height: 6px;
  width: 100%;
  background-image: linear-gradient(
    135deg,
    #ffe38c 20%,
    #ffae63 20% 40%,
    #f76d42 40% 60%,
    #d63c4a 60% 80%,
    #9c0042 80%
  );
}
