{
  "parser"  : "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends" : [
    "standard",
    "standard-react",
  ],
  "plugins": [
    "babel",
    "import"
  ],
  "rules": {
    "react/prop-types": 0,
    "jsx-quotes": 0,
    "camelcase": 0,
    "curly": 0,
    "import/no-unresolved": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "no-console": 1
  },
  "settings": {
    "import/resolve": {
      "extensions": [ ".js", ".jsx" ]
    },
    "import/extensions": [
      ".js",
      ".jsx"
    ]
  }
}
