node_modules
.DS_Store
.env
.env.development
.env.production

# local PostgreSQL database
db-data
db-backup

# Output of typecheck command
tsconfig.tsbuildinfo

# node-fetch-cache requests cache
.cache
