# Secret
.env

# Build
www/build/
www/index.html
www/hall-of-fame/index.html
www/tags/**/*.html
www/projects/**/*.html
www/rss/**/*.xml
build
ssr-temp

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript
.DS_Store
package-lock.json

# Webpack monitor files
monitor/

# Private notes
memo/