/*
Extracted from Rising Stars project
TODO: used styled components instead of regular CSS
*/
.project-chart {
  width: 100%;
  margin-top: 2rem;
}

.project-chart-columns {
  min-height: 150px;
  display: flex;
}

.project-chart-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 3px;
}
.project-chart-column:last-child {
  margin-right: 0;
}

.project-chart-bar {
  background-color: var(--iconColor);
  position: relative;
}

.project-chart-stars {
  text-align: center;
  font-size: 13px;
  position: absolute;
  top: -22px;
  width: 100%;
}
.project-chart-stars span {
  margin-left: -100%;
  margin-right: -100%;
}

.project-chart-months {
  display: flex;
  margin-right: 3px;
}

.project-chart-month {
  flex: 1;
  margin-top: 5px;
  text-align: center;
  color: var(--textSecondaryColor);
}
