// Adjustments for desktop screens: open the sidebar by default
// code from: https://github.com/Mango/slideout/issues/77#issuecomment-104253233
@media screen and (min-width: $sidebarBreakpoint) {
  .slideout-panel {
    margin-left: $sidebarWidth;
  }

  .slideout-menu {
    display: block;
  }

  .menu-link {
    display: none;
  }
}
