.header-row
  display: flex
  flex-direction: row
.col-1, .col-2
  width: 50%

.ui.input
  position: relative;
  display: flex;
  input
    outline: 0;
    width: 0
    max-width: 100%
    flex: 1 0 auto
  .ui.icon
    flex: 1 0 auto
    font-size: 24px
    cursor: default;
    position: absolute;
    line-height: 1.5;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
