.ui.input
  position: relative;
  input
    outline: 0;
  .ui.icon
    display inline-block
    font-size: 24px
    cursor: default;
    position: absolute;
    line-height: 1.5;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
