body
  font-size: 14px
  line-height: 1.3333
  color: $textPrimaryColor
  @media (min-width: 768px)
    font-size: 16px
body, #panel
  background-color: #ECECEC

.text-secondary
  color: $textSecondaryColor

a
  color: #CC4700
  text-decoration: none
  transition: all 0.3s
  &:hover
    text-decoration: underline
    color: #9E0142

html, input, textarea, select
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

*, :after, :before
  box-sizing: inherit // to be able to set with 100% on text fields


body, h1, h2, h3, h4, h5, h6
  margin: 0


h1, h2, h3
  font-weight normal

h1
  //Project and About page title
  font-size 2.5em
h2
  margin 1em 0 0.8em
h3
  font-size 1.5em
  margin-bottom 0.8em
  &.with-comment
    font-size: 1.3em
    margin-bottom 0
    text-align: center
    min-height: 38px // to avoid breaking vertical alignment because of the combobox
  .icon
    color: #fa9e59
.explanation
  margin 0 0 10px
  text-align: center
  color: $textSecondaryColor

.container
  max-width: $containerWidth
  margin: 0 auto
  @media (max-width: $sidebarWidth + $containerWidth)
    padding-left: $gutter
    padding-right: $gutter

#main
  padding-top: $topbarHeight // because of fixed header

#main-content
  padding-top: 1em
  &.small
    max-width 600px//limit container width for project list pages

ul
  margin-top 0
  padding-left 1.2em
  &:last-child
    margin-bottom: 0

p
  margin 0 0 0.5em
  &:last-child
    margin: 0

i.special
  color #d53e4f
  font-weight: bold

//divider used inside readme
.divider
  margin 1.5em 0
  width 100%
  height 1px
  background-color #ccc
