#star-button
  float right
.btn
  margin-left 10px
  color white
  background-color #e65100
  padding 5px 10px
  border-radius 6px
  transition: all 0.3s
  &:hover
    text-decoration none
    color white
    background-color #9E0142
