.daily-trends-container
  width: 100%
  display: flex
  > div
    flex: 1
    text-align: center
  @media (max-width: 600px)
    flex-direction: column
    > div:not(:first-child)
      margin-top: .5rem
