.ui.form
  .field
    margin: 0 0 1em
    .field-label // do not use <label> tag that is used for radio buttons too.
      display: block
      margin: 0 0 .3rem
    input[type="text"]
      width: 100%;
      margin: 0;
      outline: 0;
      line-height: 1.2142em;
      padding: .67861429em 1em;
      font-size: 1em;
      background: #FFF;
      border: 1px solid rgba(34,36,38,.15);
      color: rgba(0,0,0,.87);
      border-radius: .28571429rem;
    textarea
      width: 100%;
      margin: 0;
      padding: .78571429em 1em;
      background: #FFF;
      border: 1px solid rgba(34,36,38,.15);
      outline: 0;
      color: rgba(0,0,0,.87);
      border-radius: .28571429rem;
      box-shadow: 0 0 0 0 transparent inset;
      transition: color .1s ease,border-color .1s ease;
      font-size: 1em;
      line-height: 1.2857;
      resize: vertical;
  .radio-button
    padding-bottom: 0.2em
    label
      cursor: pointer

.form-action-bar
  text-align: center

// Checkboxes (project view options)
.checkbox-container
  display: block
  margin-top: .5rem
  label
    cursor: pointer
  input
    font-size: 1rem
    margin-right: .5rem

// Error fields
.ui.form
  .field.error
    label
      color: $errorTextColor
    input, textarea, .Select-control
      color: $errorTextColor
      background-color: $errorBgColor
      border-color: $errorBorderColor
.field-validation-error
  color: $errorTextColor

select
	//appearance: none // Removes awkward default styles on some inputs for iOS
	background-color: transparent
	border: .1rem solid #fa9e59
	border-radius: .4rem
	box-shadow: none
	height: 3.8rem
	padding: .6rem 1.0rem // The .6rem vertically centers text on FF, ignored by Webkit
