.ui.form
  .field
    margin: 0 0 1em
    label
      display: block
      margin: 0 0 .28571429rem
    input
      width: 100%;
      margin: 0;
      outline: 0;
      line-height: 1.2142em;
      padding: .67861429em 1em;
      font-size: 1em;
      background: #FFF;
      border: 1px solid rgba(34,36,38,.15);
      color: rgba(0,0,0,.87);
      border-radius: .28571429rem;
    textarea
      width: 100%;
      margin: 0;
      padding: .78571429em 1em;
      background: #FFF;
      border: 1px solid rgba(34,36,38,.15);
      outline: 0;
      color: rgba(0,0,0,.87);
      border-radius: .28571429rem;
      box-shadow: 0 0 0 0 transparent inset;
      transition: color .1s ease,border-color .1s ease;
      font-size: 1em;
      line-height: 1.2857;
      resize: vertical;
