/* 
Link to GitHub repo, only on big screens 
*/
@media (max-width: 1180px) {
  .github-corner {
    display: none;
  }
}
/* Code from https://github.com/tholman/github-corners */
.github-corner svg {
  fill: #e65100;
  color: #fff;
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
  z-index: 1;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
