.row
  display: flex
  flex-direction: column
  @media (min-width: 600px)
    flex-direction: row
    margin-top: -($gutter)
    margin-left: -($gutter)
    // padding-left: ($gutter)
    // padding-right: ($gutter)
  .col-sm-6
    @media (min-width: 600px)
      width 50%
      padding-top: ($gutter)
      padding-left: ($gutter)

.project-grid
  display: flex
  flex-wrap: wrap
  margin-top: -($gutter)
  margin-left: -($gutter)
  > div
    flex: 0 0 50%
    padding: ($gutter) 0 0 ($gutter)
    display: flex
  @media (max-width: 600px)
    flex-direction: column
    > div
      flex: 0 0 auto
