$gutter = 1rem

.row
  display: flex
  flex-direction: column
  @media (min-width: 600px)
    flex-direction: row
    margin-left: -($gutter)
    margin-right: -($gutter)
  .col-sm-6
    @media (min-width: 600px)
      width 50%
      padding-right: $gutter
      padding-left: $gutter

.project-grid
  display: flex
  flex-wrap: wrap
  margin: -1em 0 0 -1em
  > div
    flex: 0 0 50%
    padding: 1em 0 0 1em
    display: flex
  @media (max-width: 600px)
    flex-direction: column
    > div
      flex: 0 0 auto
