.row
  display: flex
  flex-direction: column
  @media (min-width: 600px)
    flex-direction: row
    margin: 0 -0.5em
  .col-sm-6
    @media (min-width: 600px)
      width 50%
      padding-right: .5rem
      padding-left: .5rem
  .box
    //width 100%
