#header
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: white
  height: $topbarHeight
  z-index: 10
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
  @media screen and (min-width: $sidebarBreakpoint)
    left: $sidebarWidth
  @media screen and (max-width: $sidebarBreakpoint - 1px)
    padding-left: 60px + 10px
  .container
    height: $topbarHeight
    display: flex
    align-items: center
  @media screen and (min-width: $sidebarBreakpoint)
    padding: 0

// button used to toggle the sibebar
.menu-link
  display: block
  position: fixed
  top: 0
  left: 0
  font-size: 32px
  z-index: 10
  width: $topbarHeight
  line-height: $topbarHeight
  text-align: center
  height: auto
  padding: 0
  color: white
  background-color: #e65100
  cursor: pointer
  &:hover, &:focus
    color: white

// Hide the logo on small screens
.link-logo
  @media (max-width: 550px)
    display: none

.header-row
  display: flex
  width: 100%
  .col-1
    width: 220px
  .col-2
    flex-grow: 1
    display: flex
    justify-content: flex-end
  @media screen and (min-width: 660px)
    .col-1XX, .col-2XX
      width: 50%

//Search input field container that displays an icon
.ui.input
  position: relative;
  display: flex;
  input
    outline: 0;
    width: 0
    flex: 1 0 auto
  .ui.icon
    flex: 1 0 auto
    font-size: 28px
    cursor: default;
    position: absolute;
    text-align: center;
    top: 6px;
    right: 0;
    margin: 0;
    height: 100%;
    width: 50px;
    color: #ccc;
