#stateofjs-container
  display: flex
  > div
    flex: 0 0 50%
  @media (max-width: 900px)
    flex-direction: column
  p
    font-size: 1.1rem

#stateofjs-logo
  width: 100%
  max-width: 320px

#stateofjs-logo-cell
  display: flex
  justify-content: center
  align-items: center
