.link-card
  margin-bottom: 2rem
  padding: 0
  background-color: white
  vertical-align: top
  border: 1px solid #cbcbcb
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
  .inner, .header
    padding: 1rem
    border-bottom: 1px solid #cbcbcb
  .header
    display: block
    &:hover
      text-decoration: none
  .title
    font-size: 1.2em
  .url
    color: #aaa
    font-size: 0.8rem

.tag-project-name
  display: inline-block
  margin-right: 1em
  border: $bestofjsOrange solid 2px
  padding: 0.5em
  border-radius: 4px
  &:hover
    text-decoration: none
    border-color: $bestofjsPurple
