#menu
  background-color $sidebarBgColor
.ui.vertical.menu
  //First level menu entry
  a.item
    display block
    position relative
    padding: 1em
    color: rgba(255,255,255,.95)
    &:hover, &.active
      background: rgba(255,255,255,.08);
      color: #fff;
      text-decoration none
  .item
    padding: .8em 1em;
    border-bottom 1px solid rgba(255,255,255,.15)
  .item, .ui.inverted.menu .item>a:not(.ui)
    color: rgba(255,255,255,.9)

  .item>.header:not(.ui)
    margin: 0 0 .5em
    font-size: 1em

.tag-menu
  background-color: $sidebarBgColor
.tag-menu-item
  display: block
  padding: 0.3em 0
  color: rgba(255,255,255,.7)
  &:hover
    color: white
    text-decoration: none
  &.active
    color: white

.tag-menu-item, .item
  .counter
    float right
    color: rgba(255,255,255,.5)
