.ui.message
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.5em;
  border-radius: .3rem;
  border: 1px solid rgba(34,36,38,.22)
.ui.error.message
  background-color: $errorBgColor
  color: $errorTextColor
  border-color: $errorBorderColor
