.project-card
  margin-bottom: 15px;
  padding: 0;
  background-color: white;
  vertical-align: top;
  border: 1px solid #cbcbcb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  .stars-bar
    height: 3px
    background-color: #ffe082
  .inner
    padding: 1em 1em 0.5em
    position: relative
  .ranking
    position: absolute
    top: -10px
    left: 15px
    color: #ccc
    font-size: 64px
    letter-spacing: -10px
  .link
    font-size: 1.2em
    margin-bottom: 5px
    paddingLeft: 20px
    z-index: 2
    position: relative
    display: block
    text-align: center
  .big-numbers
    float: right
    .total
      font-size: 1.2em
  .octicon
    width: 20px
    text-align: left
  .url
    display: block
    margin-top: 1em
  .description
    display block
    margin 1em 0
    color #555
    &:hover
      text-decoration none
      color: inherited
  .tags
    margin-bottom: 0.5em
  .last-commit
    //margin-top: 1em
