// Tab used in `ProjectView` component to navigate between
// README.md, LINKS and REVIEWS views

.project-tabs-header
  display: flex
  margin-bottom: -1px
  > div
    flex: 1
    text-align: center
    padding: 0.5rem 0
    &.active
      border: 1px solid #ccc
      border-bottom-color: white
      background-color: white
      z-index: 1
    a
      display: block
      &:hover
        text-decoration: none

.project-tabs-content
  background-color white
  border 1px solid $cardBorderColor
  .inner
    padding 1rem
  .delta-bar-container
    margin: 0 -1rem
  a:hover
    text-decoration: none
  .project-link, .project-review-item
    border-top: 1px dashed $cardBorderColor
    padding: 1rem 0
    &:last-child
      border-bottom: 1px dashed $cardBorderColor
    .project-link-date, project-review-date
      font-size: 13px
    .project-link-title
      font-size: 1.2rem
  .inner.github, .inner.tags, .inner.npm-section
    border-top 1px dashed $cardBorderColor
  .inner.github, .inner.npm-section
    border-top 1px dashed $cardBorderColor
    .link
      border-bottom: 1px dotted $cardBorderColor
      &:hover
        // border-color: transparent
    a
      color: inherit
      &:hover
        color: #CC4700
  .toggler
    color: inherit
    cursor: pointer
    &:hover
      color: #CC4700
    .icon
      margin-right: .25rem
  .dependencies
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    .inline-list > *
      color: #999
      &:not(:last-child)
        margin-right: .5rem
    .block-list
      width: 100%
      border-spacing: 0
      margin-top: .5rem
      border: 1px dashed #cbcbcb
      // padding-left: 1rem // add more identation compared to other list
      list-style: none
      // border-left: 1px dashed #cbcbcb
      thead td
        background-color: #ececec
      td
        padding: .25rem .5rem
      @media (max-width: 500px)
        td:last-child
          display: none // Hide the link on bestof.js.org on small screens

      tbody tr td
        border-top: 1px dashed #cbcbcb
      li
        margin-bottom: .25rem //override .5rem to make the list more compact
      a
        color: inherit
        &:hover
          color: #CC4700
  .inner.github // 2-column layout used to display GitHub data
    display: flex
    > div:first-child
      flex: 1
    @media (max-width: 600px)
      flex-direction: column
      > div:last-child
        margin-top: .5rem
