.project-sort-tabs-level1
  display: flex
  background-color: white
  > div
    flex: 1
    &.on
      background-color: $bestofjsOrange
      a
        color: white
      .icon
        color: rgba(255, 255, 255, 0.5)
  a
    padding: 0.2rem 1rem
    color: $logoColors[1]
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    border: 1px solid #fa9e59
    border-right-width: 0
  .icon
    margin-right: 0.5rem
  > div:last-child
    a
      border-right-width: 1px

.project-sort-tabs-level2
  display: flex
  margin-top: 0rem
  background-color: white
  > a
    flex: 1
    &.on
      background-color: $logoColors[4]
      color: white
      // color: black
      // background-color: $logoColors[0]
    color: $logoColors[1]
    padding: .25rem 0
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    border: 1px solid #fa9e59
    border-left-width: 0
    border-top-width: 0
    &:first-child
      border-left-width: 1px
