$readmePadding = 1rem

//Color for font-icons used in project page ("book" and "quote" icons)
.project-page
  .icon
    color: #999

.readme
  background-color white

  border 1px solid #ccc
  .header
    padding 0.5em $readmePadding
    border-bottom 1px solid #ccc
  .body
    padding $readmePadding
  .footer
    padding $readmePadding
    border-top 1px solid #ccc
  // Styles from https://github.com/sindresorhus/generate-github-markdown-css
  p, blockquote, ul, ol, dl, table, pre
    margin-top: 0
    margin-bottom: 1rem
  pre
    word-wrap: normal
    padding: 16px
    overflow: auto
    font-size: 85%
    line-height: 1.45
    background-color: #f7f7f7
    border-radius: 3px
  pre>code
    padding: 0
    margin: 0
    font-size: 100%
    word-break: normal
    white-space: pre
    background: transparent
    border: 0
  h1, h2, h3, h4, h5, h6
    margin-top: 1.5rem
    margin-bottom: 1rem
    font-weight: 600
    line-height: 1.25
  h1
    padding-bottom: 0.3em
    font-size: 2em
    border-bottom: 1px solid #eee
  h2
    padding-bottom: 0.3em
    font-size: 1.5em
    border-bottom: 1px solid #eee
  h3
    font-size: 1.25em
  h4
    font-size: 1em
  ul, ol
    padding-left: 2em
    margin-top: 0
    margin-bottom: 0
    list-style-type: lower-alpha
  li>p
    margin-top: 1rem
  li+li
    margin-top: 0.25em
  img
    max-width 100%
  table
    margin-bottom: 1rem
    width: 100%
    border-spacing: 0
    border-collapse: collapse
  tr
    background-color: #fff
    border-top: 1px solid #ccc
    &:nth-child(2n)
      background-color: #f8f8f8
  td, th
    padding: 6px 13px
    border: 1px solid #ddd
  hr
    height: 0.25em
    padding: 0
    margin: 24px 0
    background-color: #e7e7e7
    border: 0

.markdown-body
  &>*:first-child
    margin-top: 0 !important
  &>*:last-child
    margin-bottom: 0 !important
