$readmePadding = 1rem

//Color for font-icons used in project page ("book" and "quote" icons)
.project-page
  .icon
    color: #999

.readme
  background-color white

  border 1px solid #ccc
  .header
    padding 0.5em $readmePadding
    border-bottom 1px solid #ccc
  .body
    padding $readmePadding
  .footer
    padding $readmePadding
    border-top 1px solid #ccc
  //Attempt to split long lines of code inside readme section (TODO: fix it!)
  pre code
    word-break break-all
  h1
    font-size 36px
  h2
    font-size 28px
  h3
    font-size 22px
  ul, ol
    padding-left 20px
    font-size 13px
  img
    max-width 100%
