.score-bar
  margin-bottom: 0.5em
  .icon
    font-size: 1.5em
    margin-right: 0.2em
  .on
    color: #9E0142
  .off
    color: #ddd
  &.editable
    .icon
      font-size: 2.5em
      cursor: pointer
