$searchboxColor = #ddd

#searchbox
  box-sizing: border-box // to prevent the input from overlapping the container
  padding: 3px 8px
  border: 3px solid $searchboxColor
  border-radius: 6px
  font-size: 16px
  outline: 0
  display: flex
  align-items: center
  input
    outline: 0
    border-style: none
    font-size: 16px
  .icon
    color: $searchboxColor
