$searchboxColor = #ddd

#searchbox
  box-sizing: border-box // to prevent the input from overlapping the container
  padding: 0px 0.5em
  border: 3px solid $searchboxColor
  border-radius: 6px
  font-size: 1em
  outline: 0p
  display: flex
  align-items: center
  input
    outline: 0
    border-style: none
    font-size: 1rem
  .icon
    color: $searchboxColor
