.sidebar-login-block
  background-color: #9c0042
  height: 112px
  display: flex
  align-items: flex-end
  color: white
  &.anonymous
    align-items: center
    color: #570025
  padding: 0
  background: $logoColors[0] url('../svg/logo-5colors.svg') right no-repeat
  > div
    flex: 1
.login-button
  width: 100%
  background-color: rgba(0, 0, 0, 0.1)
  color: white
  display: block
  border: 1px solid white
  transition: all 0.3s
  &:hover
    background-color: rgba(87, 0, 37, 0.7)

.sidebar-username-block
  padding: 0.5em 1em
  background-color: rgba(0, 0, 0, 0.14902)
  font-size: 16px
  color: white
  display: flex
  .username
    flex: 1



.logout-button
  color: rgba(255, 255, 255, 0.6)
  flex-grow: 0
  //text-decoration: underline
  &:hover
    color: white
