//Common styles for project tags
.tag
  background-color: #838383
  color white
  &:hover
    text-decoration none
    color white
    background-color #555

//Tag displayed when filtering projects by tag (with a cross icon to remove the tag)
//From semantic-ui 'labels'
.tag-title
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  border-color: #e8e8e8;
  padding: .5833em .833em;
  border-radius: .28571429rem;

//Tag displayed inside project blocks
.tag-compact
  margin-right 5px
  padding 5px 10px
  border-radius 4px
  background-color #888
  font-size: 13px
