//Common styles for project tags
.tag
  background-color: #838383
  color white
  &:hover
    text-decoration none
    color white
    background-color #555

//Tag displayed when filtering projects by tag (with a cross icon to remove the tag)
//From semantic-ui 'labels'
.tag-title
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  border-color: #e8e8e8;
  padding: .5833em .833em;
  border-radius: .28571429rem;

//Tag displayed inside project blocks
.tag-compact
  display: inline-block
  margin-right: 5px
  margin-bottom: 5px
  padding: 5px 10px
  border-radius: 4px
  background-color: #ececec
  color: #333
  border: solid 1px #ccc
  font-size: 13px
  marginLeft: 10
  .tag-counter
    margin-left: 5px

// Header that contains the tag title, the number of project and the star filter menu
.tag-page-header
  display: flex
  align-items: center
  font-size: 18px
  > div:last-child
    flex-grow: 1
    text-align: right
  @media (max-width: 599px)
    flex-direction: column
    > div:last-child
      margin-top: 1rem
