// Layout
$sidebarWidth = 280px
$sidebarBreakpoint = 900px
$topbarHeight = 60px
$containerWidth = 980px
$gutter = 2rem

// Colors
$bestofjsOrange = #e65100
$bestofjsPurple = #9E0142

$logoColors = (#ffe38c #ffae63 #f76d42 #d63c4a #9c0042)
//$sidebarBgColor = #4d464e
// $sidebarBgColor = #570025
$sidebarBgColor = #421729

// Card border
$cardBorderColor = #cbcbcb

// Text
$textPrimaryColor = #333
$textSecondaryColor = #777

// Error messages
$errorTextColor = #9f3a38
$errorBgColor = #fff6f6
$errorBorderColor = #e0b4b4

// Used in the header
$searchboxColorOff = #ccc
$searchboxColorOn = #fa9e59
$lightOrange = lighten(#e65100, 30%)
