// Layout
$sidebarWidth = 280px
$sidebarBreakpoint = 900px
$topbarHeight = 60px
$containerWidth = 800px
$gutter = 10px

// Colors
$bestofjsOrange = #e65100
$bestofjsPurple = #9E0142

$logoColors = (#ffe38c #ffae63 #f76d42 #d63c4a #9c0042)
//$sidebarBgColor = #4d464e
$sidebarBgColor = #570025

// Error messages
$errorTextColor = #9f3a38
$errorBgColor = #fff6f6
$errorBorderColor = #e0b4b4
