#star-button
  margin-left 10px
  float right
  color white
  background-color #e65100
  padding 5px 10px
  border-radius 6px
  transition: all 0.3s
  &:hover
    text-decoration none
    background-color #d53e4f
