#menu
  background-color #4d464e

.tag-menu
  background-color: #4d464e
.tag-menu-item
  display: block
  padding: 0.2em 1em
  color: white
  &.active
    background-color: #e65100
  .counter
    float right
    color #ccc
