.card
  padding 2em
  font-size 15px
  border-radius 2px
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16)

.card-title
  display block
  font-size 18px
  color #ef6c00
  text-decoration none
  margin-bottom 5px

.readme
  background-color white
  h1
    font-size 36px
  h2
    font-size 28px
  h3
    font-size 22px
  ul, ol
    padding-left 20px
    font-size 13px
  img
    max-width 100%
