.card
  margin-bottom: 15px;
  padding: 0;
  background-color: white;
  vertical-align: top;
  border: 1px solid #cbcbcb;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);

.description
  color #555
  &:hover
    text-decoration none
    color: inherited

.readme
  background-color white
  //Attempt to split long lines of code inside readme section (TODO: fix it!)
  pre code
    word-break break-all
  h1
    font-size 36px
  h2
    font-size 28px
  h3
    font-size 22px
  ul, ol
    padding-left 20px
    font-size 13px
  img
    max-width 100%
