//From semantic-ui 'labels'
.tag-title
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  background-color: #838383;
  border-color: #e8e8e8;
  background-image: none;
  padding: .5833em .833em;
  color: white;
  border-radius: .28571429rem;

  &:hover
    text-decoration none
    background-color #555
