.react-calendar-heatmap text {
  font-size: 10px;
  fill: var(--textSecondaryColor);
}
.react-calendar-heatmap rect:hover,
.react-calendar-heatmap .active {
  stroke: #555;
  stroke-width: 1px;
}
.color-empty {
  fill: #ececec;
}
.color-0 {
  fill: #f6fad7;
}
.color-1 {
  fill: #f6faaa;
}
.color-2 {
  fill: #f6f7a6;
}
.color-3 {
  fill: #f7f4a3;
}
.color-4 {
  fill: #f8f2a0;
}
.color-5 {
  fill: #f9ef9d;
}
.color-6 {
  fill: #faec9a;
}
.color-7 {
  fill: #faea97;
}
.color-8 {
  fill: #fbe793;
}
.color-9 {
  fill: #fce490;
}
.color-10 {
  fill: #fde28d;
}
.color-11 {
  fill: #fdde8a;
}
.color-12 {
  fill: #fdd985;
}
.color-13 {
  fill: #fdd481;
}
.color-14 {
  fill: #fdcf7d;
}
.color-15 {
  fill: #fdca79;
}
.color-16 {
  fill: #fdc574;
}
.color-17 {
  fill: #fdc070;
}
.color-18 {
  fill: #fdbb6c;
}
.color-19 {
  fill: #fdb667;
}
.color-20 {
  fill: #fdb163;
}
.color-21 {
  fill: #fcab5f;
}
.color-22 {
  fill: #fba45c;
}
.color-23 {
  fill: #fa9e59;
}
.color-24 {
  fill: #f99756;
}
.color-25 {
  fill: #f89053;
}
.color-26 {
  fill: #f88a50;
}
.color-27 {
  fill: #f7834d;
}
.color-28 {
  fill: #f67c4a;
}
.color-29 {
  fill: #f57647;
}
.color-30 {
  fill: #f46f44;
}
.color-31 {
  fill: #f26a43;
}
.color-32 {
  fill: #ee6544;
}
.color-33 {
  fill: #eb6046;
}
.color-34 {
  fill: #e85b47;
}
.color-35 {
  fill: #e55648;
}
.color-36 {
  fill: #e25249;
}
.color-37 {
  fill: #df4d4b;
}
.color-38 {
  fill: #db484c;
}
.color-39 {
  fill: #d8434d;
}
.color-40 {
  fill: #d53e4e;
}
.color-41 {
  fill: #d0394d;
}
.color-42 {
  fill: #ca324c;
}
.color-43 {
  fill: #c52c4b;
}
.color-44 {
  fill: #bf2649;
}
.color-45 {
  fill: #ba2048;
}
.color-46 {
  fill: #b41947;
}
.color-47 {
  fill: #ae1345;
}
.color-48 {
  fill: #a90d44;
}
.color-49 {
  fill: #a30743;
}
.color-50 {
  fill: #9e0142;
}
.color-51 {
  fill: #421729;
}
