// Label used inside cards to show related "tags" and "projects"

.card-label-container
  margin: -0.5em 0 0 -0.5em
  > div
    padding: 0.5em 0 0 0.5em
    display: inline-block

.card-label-project
  display: inline-block
  border: lighten($bestofjsOrange, 10%) solid 1px
  padding: 0.5em
  border-radius: 4px
  font-size: 14px
  &:hover
    text-decoration: none
    border-color: $bestofjsPurple
