.hero-list
  display: flex
  flex-wrap: wrap
  margin: -2rem 0 0 -2rem
  > div
    flex: 0 0 50%
    padding: 2em 0 0 2em
    display: flex
  @media (max-width: 550px)
    flex-direction: column
    > div
      flex: 0 0 auto

.hero-card
  flex: 1
  padding: 0
  background-color: white
  border: 1px solid $cardBorderColor
  // box-shadow: 0 2px 5px 0 $cardBorderColor
  .card-block // class applied to <Link> tag used to open the Project page from the card.
    display: flex
    align-items: center
    color: inherit
    flex: 1
    &:hover
      text-decoration none
      color: inherited
      background-color: #FFF7EB
      color: black
  .header
    display: flex
    align-items: center
  .header-text
    padding: 0 1em
  &.current-user
    .header
      background-color: $bestofjsOrange
      color: white
      .text-secondary
        color: rgba(255, 255, 255, .6)  
  .name
    font-size: 1.3em
  .inner
    padding: 1rem
    border-top: 1px dashed $cardBorderColor
    color: $textSecondaryColor
  .icon
    color: #fa9e59
    margin-right: 5px
  .github-data
    margin-top: .2em
