.hero-list
  display: flex
  flex-wrap: wrap
.hero-card
  flex: 1
  margin-bottom: 2rem
  padding: 0
  background-color: white
  vertical-align: top
  border: 1px solid #cbcbcb
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
  //max-width: 390px
  min-width: 300px
  margin-right: 2em
  .header
    display: flex
    align-items: center
  .header-text
    padding: 0 1em
  &.current-user
    .header
      background-color: $bestofjsOrange
      color: white
  .card-block // class applied to <Link> tag used to open the Project page from the card.
    //display block
    color: inherit
    flex: 1
    &:hover
      text-decoration none
      color: inherited
      background-color: #FFF7EB
      color: black
  .name
    font-size: 1.3em
  .inner
    padding: 1em
    border-top: 1px solid rgba(0, 0, 0, 0.16)
