.hero-list
  display: flex
  flex-wrap: wrap
  margin: -1em 0 0 -1em
  > div
    flex: 0 0 50%
    padding: 1em 0 0 1em
    display: flex
    //flex-direction: column
  @media (max-width: 550px)
    flex-direction: column
    > div
      flex: 0 0 auto

.hero-card
  flex: 1
  padding: 0
  background-color: white
  border: 1px solid $cardBorderColor
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
  .card-block // class applied to <Link> tag used to open the Project page from the card.
    display: flex
    align-items: center
    color: inherit
    flex: 1
    &:hover
      text-decoration none
      color: inherited
      background-color: #FFF7EB
      color: black
  .header
    display: flex
    align-items: center
  .header-text
    padding: 0 1em
  &.current-user
    .header
      background-color: $bestofjsOrange
      color: white
  .name
    font-size: 1.3em
  .inner
    padding: 0.5em 1em
    border-top: 1px solid $cardBorderColor
    color: $textSecondaryColor
  .icon
    color: #fa9e59
    margin-right: 5px
