.project-card
  //margin-bottom: 2rem
  width: 100%
  padding: 0
  background-color: white
  vertical-align: top
  border: 1px solid $cardBorderColor
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
  header
    padding: 1em 0
    position: relative
    overflow: hidden
  section
    padding: 1em
    border-top: 1px solid $cardBorderColor
    &.tags-section
      padding-bottom: 0.5em
  .stars-bar
    height: 3px
    background-color: #ffe082
  .inner
    padding: 1em
    &.github
      border-top: 1px solid #cbcbcb
  .ranking
    position: absolute
    top: 0
    left: -10px
    letter-spacing: -10px
    text-align: center
    background-color: $logoColors[1]
    color: white
    font-size: 4em
    line-height: 1
    width: 60px
  .title
    font-size: 1.2em
    margin-bottom: 5px
    z-index: 2
    position: relative
    display: block
    text-align: center
  .big-numbers
    float: right
    .total
      font-size: 1.2em
  .octicon
    width: 20px
    text-align: left
  .url
    display: block
    margin-top: 1em
  .card-block // class applied to <Link> tag used to open the Project page from the card.
    display block
    color $textPrimaryColor
    &:hover
      text-decoration none
      color: inherited
      background-color: #FFF7EB
      color: black
  .npm
    display: flex
    padding: 0
    > :first-child
      flex-grow: 1
  .quality-link, .npm-link
    display: flex
    align-items: center
  .quality-link
    justify-content: flex-end
  .quality-logo, .npm-logo
    margin-right: .25em
  .version
    color: $textSecondaryColor
    margin-left: .25em
  .star-added
    margin: 0 0 1em
.empty-value
  color: #aaa
