name: PR check

on: # event list
  pull_request: # on a pull request to each of these branches
    branches:
      - develop

jobs:
  check_before_merge:
    name: Test and lint checks
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Setup Environment
        uses: ./.github/tooling/github-actions/install

      - name: Code Linting
        run: pnpm -F bestofjs-nextjs lint

      - name: Unit tests
        run: pnpm -F bestofjs-nextjs test:ci

  automated-testing:
    name: E2E Tests
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Waiting for 200 from the Vercel Preview
        uses: patrickedqvist/wait-for-vercel-preview@v1.2.0 # https://github.com/patrickedqvist/wait-for-vercel-preview
        id: vercel_preview_url
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          check_interval: 5 # seconds
          max_timeout: 6000 # seconds
          # Environment uses a special ASCII dash example: "Preview – bestofjs"
          # If having issues, need to confirm environment name from the github deployments API
          # https://github.com/patrickedqvist/wait-for-vercel-preview/issues/33
          environment: "Preview – bestofjs"

      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Setup Environment
        uses: ./.github/tooling/github-actions/install

      - name: Install Dependencies
        shell: bash
        run: pnpm -F bestofjs-nextjs install

      - name: Install Playwright Browsers
        run: pnpm -F bestofjs-nextjs exec playwright install chromium --with-deps

      - name: Run Playwright tests
        run: pnpm test:e2e
        env:
          BASE_URL: ${{ steps.vercel_preview_url.outputs.url }}

      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: report
          path: apps/bestofjs-nextjs/playwright-report/
